/* #featured */
.meal{
    margin-left: 20px;
        height: 400px;
        width: 397px;
        margin: 16px;
}
/* #meal5,#meal6{
    /* display: none; */
    /* overflow: scroll;
} */ 
#featured{
    overflow: auto;
}
.clients{
    overflow: hidden;
    flex-wrap: wrap;
}
.clients img{
    height: 120px;
}